@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gradient-to-r from-[#252525] to-[#3F4E5A]
}

.Icon {
    @apply h-[18px] w-auto opacity-50
}

.Navigation {
    @apply flex justify-between items-center p-[15px] font-medium
} .Navigation-Text {
    @apply px-[30px] text-center
} .Nav-Icon {
    @apply h-[30px] w-[30px] min-h-[30px] min-w-[30px]
} .active {
    @apply opacity-100
}

.Footer {
    @apply bg-[#232323] text-[12px] px-[50px] py-[25px] font-normal
} .Footer-Text {
    @apply text-[14px] px-[30px] opacity-80
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2.5px); }
    50% { transform: translateX(2.5px); }
    75% { transform: translateX(-2.5px); }
    100% { transform: translateX(0); }
}