@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost", sans-serif;
} body ::selection {
    background-color: #00FF8A;
    color: #252525;
} img {
    user-select: none;
}

::-webkit-scrollbar {
    display: none;
}