@tailwind base;
@tailwind components;
@tailwind utilities;

/* QuicKeys™ Color Theme */
:root {
    --QKGreen: 0, 255, 138;

    --BGMain: 37, 37, 37;
    --BGGradient: 63, 78, 90;
    --HeavyMain: 35, 35, 35;

    --MainText: 212, 209, 205;
}

body {
    @apply bg-gradient-to-r from-BGMain to-BGGradient text-[18px] text-MainText
}

.Icon {
    @apply h-[18px] w-auto opacity-50
}

/* Navigation Bar Styling */
.Navigation {
    @apply flex justify-between items-center p-[15px] font-medium
} .Navigation-Text {
    @apply px-[30px] text-center
} .Nav-Icon {
    @apply transition-all h-[25px] w-[25px] nm:h-[30px] nm:w-[30px]
} .active {
    @apply opacity-100
}

/* Footer Styling */
.Footer {
    @apply bg-HeavyMain font-normal text-[12px] py-[25px] px-[25px] nm:px-[50px]
} .Footer-Text {
    @apply text-[14px] px-[30px] opacity-80 text-center py-[5px]
}

.Benefits {
    @apply flex p-[25px] rounded-lg border-QKGreen border-4 md:flex-col gap-[20px]
}

/* Shop Item Card Styling */
.ItemCard-Image {
    @apply relative flex justify-center items-center overflow-hidden bg-HeavyMain max-h-[300px] max-w-[300px] mb-[5px]
}
.ItemCard-Name {
    @apply text-[18px] font-medium py-[2px]
}
.ItemCard-Brand {
    @apply text-sm text-QKGreen py-[2px]
}
.ItemCard-Price {
    @apply text-[20px] font-bold
}
.ItemCard-Responsiveness {
    @apply grid-cols-1 xsm:grid-cols-2 nm:grid-cols-4 lg:grid-cols-5
}

/* Filter Styling */
.Filter-Text {
    @apply text-[15px]
}
.Filter-Icon {
    @apply h-[12px] w-[20px]
}

.Hero-Mobile {
    @apply w-full pt-[35px] text-[20px] max-w-[1600px] text-center
}
.Hero-Icon-Hollow {
    @apply flex flex-col justify-center min-h-[80px] min-w-[80px] max-h-[80px] max-w-[80px]
}
.Hero-Icon-Fill {
    @apply flex flex-col justify-start min-h-[80px] min-w-[80px] max-h-[80px] max-w-[80px] md:max-w-[110px] md:justify-center
}

/* Password Mismatch Animation Keyframes*/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-2.5px); }
    50% { transform: translateX(2.5px); }
    75% { transform: translateX(-2.5px); }
    100% { transform: translateX(0); }
}

/* Page Transition Animation & Styling */
.slide-in {
    transform-origin: bottom;
    @apply fixed top-0 left-0 w-full h-full bg-HeavyMain
}

.slide-out {
    transform-origin: top;
    @apply fixed top-0 left-0 w-full h-full bg-HeavyMain
}

/* QuicKeys Keycap Floating Animation Keyframes */
@keyframes float {
    0% { transform: translateY(-25px); }
    50% { transform: translateY(25px); }
    100% { transform: translateY(-25px); }
}

.float {
    height: 700px;
    width: 700px;
    opacity: 0;
    animation: float 5s ease-in-out infinite;
}